body, html{
    background-color: #DADFE7;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(#46494C, #1985a1, #1985a1, #46494C);
}

/* Header */
header{
    width:100%;
    height: 190px;
    background-color: #1985a1;
}
header>h1{
    margin: 3px;
    font-family: Audiowide;
    width: 100%;
}
header>h1>a{
    color: #DADFE7;
    text-decoration: none;
}
.header_banner{
    width: 100%;
    height: 150px;
}

/* Navigation */
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #46494C;
    width: 100%;
    padding-top:10px;
    padding-bottom: 10px;
}
.nav_list{
    display:grid;
    place-items: center;
    grid-template-columns: repeat(3, auto);
    grid-auto-flow: row;
    gap: 10px;
}
.nav_list>div>a{
    color: white;
    text-decoration: none;
    font-family: monospace;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 22px;

}
.nav_list>div>a:hover{
    text-decoration: underline;
    background: #37393b;
}

.nav_search input{
    border-radius: 25%;
    border: 3px solid #1985a1;
    padding-left: 3px;
    padding-right: 3px;
    height: 30px;
    width: 70%;
}

.nav_search button{
    border-radius: 100%;
    height: 40px;
    border: 3px solid #1985a1;
}

.nav_search input:hover{
    background: #aeb5c0;
}

.nav_search button:hover{
    background: #aeb5c0;
}

#Description{
    margin-bottom: 3px;
    margin-left: 4px;
}

#Description h3{
    margin-left: 6px
}

#Createurs{
    border-bottom: 2px solid #37393b;
    border-top: 2px solid #37393b;
    margin-bottom: 3px;
    width:100%;
}

#Createurs h3{
    margin-left: 6px;
}

#membre1{

    display: flex;
    flex-direction: row-reverse;
    border: 2px solid #37393b;
    border-bottom: 4px solid #37393b;
    border-right: none;  
}

#membre2{
    display: flex;
    flex-direction: row;
    border: 2px solid #37393b;
    border-top: 4px solid #37393b;
    border-left: none;
}

#membre_img1 img{
    width: 300px;
    height: 400px;
    border: 4px solid #37393b;
    border-radius: 30px 0px 0px 30px;
}

#membre_img2 img{
    width: 300px;
    height: 400px;
    border: 4px solid #37393b;
    border-radius: 0px 30px 30px 5px;
}

.membre_desc{
    width: 100%;
    height: 400px;
    position: relative;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    line-break: normal;
}

.membre_desc h3{
    padding-left:12px;
    width: 512px;
}

.membre_desc h4{
    padding-left: 15px;
}

footer{
    font-family: monospace;
    background-color: #46494C;
    color:aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3px;
    gap: 15%;
}
footer>a{
    text-decoration: none;
    color:aliceblue;  
}
footer>a:hover{
    text-decoration: underline;
    color:aliceblue;
}

/* Media */

@media (max-width : 620px){
    .nav_list{
        font-size: 11px;
    }
    footer{
        font-size: 11px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }

    header h1 a{
        font-size: 22px
    }
}

@media (max-width : 571px){
    header {
        height: 80px
    }
    .header_banner {
        height: 40px;
    }
    
    /*Nav*/
    nav{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .nav_list{
        grid-template-rows: repeat(3, auto);
        grid-auto-flow: column;
    }

    .nav_list>div>a{
        justify-items: center;
        border-color: #1985a1;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    #Createurs{
        max-width: 570px;
    }

    .membre_desc h3{
        padding: 0;
        font-size: 16px;
    }

    .membre_desc h4{
        padding-left: 7px;
        font-size: 14px;
    }
}

@media (max-width : 426px){
    h1{
        font-size: 30px;
    }

    .header_banner{
        height: 42px;
    }

    #membre1{
        display: flex;
        flex-direction: column;
        border-left: 0;
        border-right: 0;
    }

    #membre_img1 img{
        object-position: center;
        object-fit: cover;
        width: 300px;
        height: 400px;
        border: 2px solid #37393b;
        border-radius: 0 0 20px 20px;
        margin-left: 15%;
        padding: 0;
    }

    #membre2{
        display: flex;
        flex-direction: column;
        border-left: 0;
        border-right: 0;
    }

    #membre_img2 img{
        object-position: center;
        object-fit: cover;
        width: 300px;
        height: 400px;
        border: 2px solid #37393b;
        border-radius: 0 0 20px 20px;
        margin-left: 15%;
        padding: 0;
    }

    .membre_desc{
        height: fit-content;
        width: 318px;    
    }

    #Createurs h2{
        font-size: 22px;
        margin-left: 2px;
    }

    #Createurs h3{
        font-size: 16px;
        margin-left: 4px;
    }

    .membre_desc h3{
        padding: 0;
        font-size: 16px;
    }

    .membre_desc h4{
        padding-left: 7px;
        font-size: 12px;
    }
}

@media (max-width: 376px){
    
    #membre_img1 img{
        margin-left: 10%;
    }

    #membre_img2 img{
        margin-left: 10%;
    }
}

@media (max-width: 321px){

    #membre1{
        width: 100%;
    }

    #membre2{
        width: 100%;
    }


    #membre_img1 img{
        margin-left: 3%
    }

    #membre_img2 img{
        margin-left: 3%
    }

    h2{
        font-size: 20px;
        margin-left: 2px;
    }

    h3{
        font-size: 14px;
        margin-left: 4px;
    }
}