body, html{
    background-color: #DADFE7;
    width: 100%;
    margin: 0;
}

/* Header */
header{
    width:100%;
    height: 190px;
    background-color: #BD5B00;
}
header>h1{
    margin: 0px;
    font-family: Audiowide;
    width: 100%;
}
header>h1>a{
    color: #DADFE7;
    text-decoration: none;
}
.header_banner{
    width: 100%;
    height: 150px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#46494C;
    padding: 10px;
  }
  
  .menu a {
    color:#37393B;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown .dropbtn {
    background-color: #f8f8f8;
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: audiowide;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #37393B;
    min-width: 160px;
    z-index: 1;
  }

  .dropdown-content a {
    color: aliceblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: monospace;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

.search-container {
    display: flex;
    align-items: center;
  }
  
  .search-container input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
  }
  
  .search-container button[type="submit"] {
    padding: 10px;
    background-color: #f8f8f8;
    border: none;
    cursor: pointer;
  }
  
.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .search-container input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    font-family: audiowide;
  }
  
  .search-container button[type="submit"] {
    padding: 10px;
    background-color: #f8f8f8;
    border: none;
    cursor: pointer;
  }

/* Main */
main{
    width: 100%;
    display: flex;
    justify-content: center;
}


/*Formulaire*/

#form{
    margin-bottom: 5%;
    margin-left:25%;
    margin-right: 25%;    

}
#form>h1{
 background-color: #BD5B00;
 margin-bottom: 0%;
 font-family:audiowide;
 text-align: center;
 color: aliceblue;
 border-style: outset;
}
#form_centre{
    
    border-style: outset;
    border-width: 5px;
    padding: 5%;
}
#form_centre,p{
    text-decoration: underline;
    font-family: monospace;
}
#message{
    overflow: hidden;
}
#envoyer>button{
    background-color:#BD5B00;
}

#envoyer>button>p{
    color:aliceblue;
    text-decoration: none;
    font-family: audiowide;
}
/*footer*/
footer{
    font-family: monospace;
    background-color: #46494C;
    color:aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
}
footer>a{
    text-decoration: none;
    color:aliceblue;  
}
footer>a:hover{
    text-decoration: underline;
    color:aliceblue;
}



/* Media */
@media (max-width : 570px){
    
    /*banner*/
    header {
        height: 80px
    }
    .header_banner {
        height: 40px;
    }

    .article{
        flex-direction: column;
        align-items: center;
    }

    #form{
        margin-bottom: 5%;
        margin-left:15%;
        margin-right: 15%;    
    
    }
    

    /*footer*/
        footer{
        font-family: monospace;
        background-color: #46494C;
        color:aliceblue;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 3px;
        gap: 15%;
        }
        footer>a{
        text-decoration: none;
        color:aliceblue;  
        }
        footer>a:hover{
        text-decoration: underline;
        color:aliceblue;
        }

    }
@media (max-width: 321px){
    .search-container{
        display: flex;
        flex-direction: column;
        margin-left: 5px;
    }
}