body, html{
    background-color: #DADFE7;
    width: 100%;
    margin: 0;
}

/* Header */
header{
    width:100%;
    height: 190px;
    background-color: #BD5B00;
}
header>h1{
    margin-left: 3px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: Audiowide;
    width: 100%;
}
header>h1>a{
    color: #DADFE7;
    text-decoration: none;
}
.header_banner{
    width: 100%;
    height: 150px;
}




/* Navigation */

/* Style pour le menu */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#46494C;
    padding: 10px;
  }
  
  /* Style pour les liens du menu */
  .menu a {
    color:#37393B;
    text-decoration: none;
    margin-right: 10px;
  }
  
  /* Style pour le menu déroulant */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style pour le bouton du menu déroulant */
  .dropdown .dropbtn {
    background-color: #f8f8f8;
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: audiowide;
  }
  
  /* Style pour le contenu du menu déroulant */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #37393B;
    min-width: 160px;
    z-index: 1;
  }
  
  /* Style pour les liens du contenu du menu déroulant */
  .dropdown-content a {
    color: aliceblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: monospace;
  }
  
  /* Style pour les liens du contenu du menu déroulant au survol */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Affichage du contenu du menu déroulant au survol du bouton */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* Style pour la barre de recherche */
.search-container {
    display: flex;
    align-items: center;
  }
  
  .search-container input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
  }
  
  .search-container button[type="submit"] {
    padding: 10px;
    background-color: #f8f8f8;
    border: none;
    cursor: pointer;
  }
  
/* Style pour la barre de recherche à droite */
.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .search-container input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    font-family: audiowide;
  }
  
  .search-container button[type="submit"] {
    padding: 10px;
    background-color: #f8f8f8;
    border: none;
    cursor: pointer;
  }


  


/* Main */
main{
    width: 100%;
    display: flex;
    justify-content: center;
}

main, a{
    text-decoration: none;
    color: black;
}
/* Content */
.content{
    margin-top: 20px;
    width:90%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 10px;   
}
.article{
    display:flex;
    flex-direction: row;
    gap: 10px;
    border: 2px solid #46494C;
}

.article:hover{
    background-color: #aeb5c0;
}
.article_content{
    width: 100%;
}
.article_content>h3{
    text-align: center;
}
.article_content>p{
    width:100%;
}
.article_image{
    width: 230px;
    height: 150px;
    background: url('../Images/creations/Thumbnail/Poney.png');
    background-size: cover;
    background-position: center;
    border: 2px solid #BD5B00;
}
.article_image:hover{
    background: url('../Images/creations/gifs/Poney.gif');
    background-size: cover;
    background-position: center;
}

.article_titre{
    width: 98%;
    font-family: monospace;
    font-size: 20px;
    margin-top: 5px;
    border-bottom: 1px solid #46494C; 
    justify-items: center;
    font-weight: bolder;
}

.article_desc{
font-family: monospace;
}

/*Footer*/
footer{
    font-family: monospace;
    background-color: #46494C;
    color:aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3px;
    gap: 15%;
}
footer>a{
    text-decoration: none;
    color:aliceblue;  
}
footer>a:hover{
    text-decoration: underline;
    color:aliceblue;
}

/* Media */

@media (max-width : 620px){
    .nav_list{
        font-size: 11px;
    }
    footer{
        font-size: 11px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }
}

@media (max-width : 570px){
    header {
        height: 80px
    }
    .header_banner {
        height: 40px;
    }
    
    /*Nav*/
    nav{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .nav_list{
        grid-template-rows: repeat(3, auto);
        grid-auto-flow: column;
    }

    .nav_list>div>a{
        justify-items: center;
        border-color: #BD5B00;
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .content{
        align-items: center;
        width: 98%;
    }

    .article{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .article_titre{
        width: 100%;
        margin-top: 0%;
        margin-bottom: 5px
    }

    .article_desc{
        margin-left: 5px;
    }
}

/*navobile*/
@media (max-width: 321px){
    .search-container{
        display: flex;
        flex-direction: column;
        margin-left: 5px;
    }
}